@model IEnumerable<MYMVC.Models.ViewModel.GetMentorViewModel>

<div class="bg-Secondary bg-Opacity-10 py-2">
    <div class="container">
        <h1>All Mentors</h1>
    </div>
</div class="container mg-3">
    @if(Model != null && Model.Any())
{
    <table class="table">
    <thead>
        <tr>
            <th readonly>Id</th>
            <th> CategoryName</th>
            <th> UserName</th>
            <th> IsAvailable</th>
            <th> Email</th>
            <th> FirstName</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mentor in Model)
        {
            <tr>
                <td>@mentor.Id</td>
                <td>@mentor.CategoryName </td>
                <td>@mentor.UserName </td>
                <td>@mentor.IsAvailable </td>
                <td>@mentor.Email </td>
                <td>@mentor.FirstName</td>
                <td>
                    <a asp-area="" asp-controller="Mentor" asp-action="EditProfile" asp-route-id="@mentor.Id">Update</a>
                </td>
                <td>
                    <a asp-area="" asp-controller="Mentor" asp-action="GetMentor" asp-route-id="@mentor.Id">View Details</a>
                </td>
            </tr>
        }
    </tbody>
    </table>
}
else
{
    <p> No Mentors Found!</p>
}
</div >
