@model MYMVC.Models.ViewModel.GetMentorViewModel

<div class = "bg-Secondary bg-Opacity-10 py-2">
    <div class = "container">
        <h1>Profile</h1>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th readonly>Id</th>
            <th> CategoryName</th>
            <th> UserName</th>
            <th> IsAvailable</th>
            <th> YearsOfExperience</th>
            <th> Email</th>
            <th> Age</th>
            <th> FirstName</th>
            <th> LastName</th>
            <th> Address</th>
            <th> PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.CategoryName </td>
            <td>@Model.UserName </td>
            <td>@Model.IsAvailable </td>
            <td>@Model.YearsOfExperience </td>
            <td>@Model.Email </td>
            <td>@Model.Age</td>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.Address</td>
            <td>@Model.PhoneNumber</td>
        </tr>
    </tbody>

</table>